body {	background-color: #e4e4e4; font-family: Hack, monospace; min-width: 1147px;}


header {font-family: Hack, monospace;}
/* Logo */
#logo { width: 300px; height: 110px; }
#logo_surname {
	margin: 10px 0px;
	font-size: 71px;
	line-height: 50%;}
#logo_name {
	margin: 0px 87px;
	font-size: 31px;
	color: #000000;}
#logo_href {
	text-decoration: none;
	color: #000000;
	display: inline-block;
	float: left;}
/* Header menu */
nav a {text-decoration: none;}
nav ul {
	margin: 0;
	padding: 0;}
nav li {
	list-style-position: inside;
	font-size: 43px;
	padding: 10px;}
.top-menu {
	float: right;
	display: inline-block;
	margin: 23px 90px;}
.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;}
.top-menu li.active {
	background: #818E9A;
	color: #fff;}
.top-menu a {color: #1B1B1B;}


aside {
	float: right;
	width: 281px;
	font-size: 37px;
	margin: 0px 0px;
}
section {
	margin-right: 280px;
	padding-bottom: 10px;
}

aside  p {
	margin: 0;
	line-height: 100%;
}

.aside-menu li {
	font-size: 19px;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a {
	color: #575757;
}
#seeothers {
	font-size: 21px;
	color: #232323;
	float: right;
}

.tags {
	color: #FFF;
	font-size: 17px;

    opacity:1; /* Transparent Background 50% */
    background:#3E3E3E;
    padding:5px;
    height:7px;
    width:7px;
    text-align: center;
    alignment-adjust: middle;
    vertical-align:middle;
    text-decoration: none;
}

.tags:hover {
	color: #FFF;
	font-size: 17px;

    opacity:1; /* Transparent Background 50% */
    background:#000000;
    padding:5px;
    height:7px;
    width:7px;
    text-align: center;
    alignment-adjust: middle;
    vertical-align:middle;
    text-decoration: none;
}


.post {
	display: block;
	overflow: hidden;
	margin-top: 13px;
	margin-bottom: 17px;
}
.post_header {
	font-size: 37px;
}
.post_info {
	margin: 0px 10px;
}
.post_date {
	display: inline-block;
}
.post_tags {
	display: inline-block;
}
.post_preview {
	margin: 13px 47px;
	float: right;
	width: 90%;
	font-size: 17px;
}
.post_read_more {
	margin: 3px 70px;
	float: right;
	font-size: 23px;
}
.post_tag {
	color: #FFF;
	font-size: 13px;

    opacity:1; /* Transparent Background 50% */
    background:#3E3E3E;
    padding:5px;
    height:7px;
    width:7px;
    text-align: center;
    alignment-adjust: middle;
    vertical-align:middle;
    text-decoration: none;
}
.post_tag:hover {
	color: #FFF;
	font-size: 13px;

    opacity:1; /* Transparent Background 50% */
    background:#000000;
    padding:5px;
    height:7px;
    width:7px;
    text-align: center;
    alignment-adjust: middle;
    vertical-align:middle;
    text-decoration: none;
}
.post-link {
  text-decoration: none;
  color: #000;
}
.post-link:hover {
  color: #717171;
}


.pc_header {
  display: block;
  overflow: hidden;
  margin: 0px 0px;
  width: 100%;
  line-height: 70%;
  background-color: #CBCBCB;
}
.pc_title {
  width: 80%;
  margin: 40px 50px;
  font-size: 41px;
}
.pc_date {
  
  margin: 0px 97px;
  display: inline-block;
}
.pc_tags {
  margin: 0px 50px;
  display: inline-block;
}
.pc {
  margin: 0 auto;
  position: relative;
  
  width: 89%;
  font-size: 16px;
  max-width: 1400px;
}
.tags_page_header {
    font-family: Hack, monospace;
    font-size: 50px;
    line-height: 10%;
}

.comment-hr {
     margin: 30px -101px;
}

/**
 * Syntax highlighting styles
 */
.highlight {
  font-size: 16px;
  background: #EAEAEA; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    background-color: #faa; }
    color: #000;
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

