<aside>
	<nav>
		<p>Projects:</p>
		<ul class="aside-menu">
			<li><a href="https://github.com/SL-RU/rpb"><b>rpb</b> - raspberry pi based bluetooth music player</a></li>
			<li><a href="http://tabun.everypony.ru/tag/This%20gray%20world/"><b>This Gray World</b> - openworld RPG game in MyLittlePony world</a></li>
			<li><a href="https://github.com/SL-RU/UnderTranslator"><b>UnderTranslator</b> - application for translation Undertale game</a></li>
		</ul>
		<a id="seeothers" href="allprojects"><p>see others...</p></a>
		<pre>


Tags</pre>
		{% for tag in site.tags %}
		{% assign t = tag | first %}
		{% assign posts = tag | last %}
		<a class="tags" href="/tags/{{t | downcase | replace:" ","-" }}">{{t | downcase | replace:" ","-" }} - {{ posts | size }}</a>
		{% endfor %}
	</nav>	
</aside>
