<aside>
	<nav>
		<p>Projects:</p>
		<ul class="aside-menu">
			<li><a href="/donec/"><b>rpb</b> - raspberry pi based bluetooth music player</a></li>
			<li><a href="/vestibulum/"><b>writings</b> - mine public stories and essays</a></li>
		</ul>
		<a id="seeothers" href="allprojects"><p>see others...</p></a>
		<pre>


Tags</pre>
<a class="tags" href="allprojects">C++</a> 
<a class="tags" href="allprojects">Python</a> 
<a class="tags" href="allprojects">C#</a> 
<a class="tags" href="allprojects">arm</a> 
<a class="tags" href="allprojects">stm32</a> 
<a class="tags" href="allprojects">avr</a>
<a class="tags" href="allprojects">eng</a>
<a class="tags" href="allprojects">rus</a>
<a class="tags" href="allprojects">electonics</a>
	</nav>	
</aside>