<header style="overflow: hidden;">
      <a id="logo_href" href="/">
        <div id="logo">
          <div id="logo_surname" color="#FF0000"><b>Lutsai</b></div>
          <p/><div id="logo_name">Alexander</div>
        </div>
      </a>
      <nav>
        <ul class="top-menu">
          <li {% if page.url != "/about/" %}class="active" {% endif %}><a  href="/">BLOG</a></li>
          <li><a href="http://lyra.flutterpony.org:3000">GIT</a></li>
          <li {% if page.url == "/about/" %}class="active" {% endif %}><a  href="/about/">ABOUT</a></li>
        </ul>
      </nav>
    </header>