---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="pc_header">
    <h1 class="pc_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="pc_date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    {% if page.author %}
    	<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
    {% endif %}
    <div class="pc_tags">
		<a class="post_tag" href="allprojects">C#</a> 
		<a class="post_tag" href="allprojects">arm</a> 
		<a class="post_tag" href="allprojects">stm32</a> 
	</div>
    </p>
  </header>

  <div class="pc" itemprop="articleBody">
    {{ content }}
  </div>

</article>
